# LBM-C FILE TYPES
*.dat

# FOLDERS
bin/
Debug/
Release/
ipch/
LBM-C/Debug
LBM-C/Release
BoltFlow/bin
BoltFlow/CMakeFiles

# FILE TYPES
*.dll
*.ilk
*.pdb
*.opensdf
*.sdf
*.suo
*.user

# Build files
runbolt2d
runbolt3d
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
Makefile